@use 'sass:map';
@use './config.scss' as *;

$headerHeight: 50px;

@forward 'element-plus/theme-chalk/src/mixins/config.scss' with (
  $namespace: $namespace
);

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': green
    )
  ),
  $menu: (
    'horizontal-height': $headerHeight,
    'base-level-padding': 15px
  ),
  $header: (
    padding: 0,
    height: $headerHeight
  ),
  $main: (
    padding: 0
  )
);
