@use './config.scss' as *;

@forward 'element-plus/theme-chalk/src/mixins/config.scss' with (
  $namespace: $namespace
);

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': green
    )
  ),
  $menu: (
    'horizontal-height': 50px
  ),
  $header: (
    padding: 0,
    height: 50px
  )
);
